<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_category.name %>
</p>

<%= link_to 'Edit', edit_user_category_path(@user_category) %> |
<%= link_to 'Back', user_categories_path %>
