<h1>Editing Travel Allowance Request</h1>

<%= render 'form', travel_allowance_request: @travel_allowance_request %>

<%= link_to 'Show', @travel_allowance_request %> |
<%= link_to 'Back', travel_allowance_requests_path %>
