<h1>Editing Restaurant Order Item</h1>

<%= render 'form', restaurant_order_item: @restaurant_order_item %>

<%= link_to 'Show', @restaurant_order_item %> |
<%= link_to 'Back', restaurant_order_items_path %>
