<!-- app/views/visitors/invalid_otp.html.erb -->
<h1>Invalid OTP</h1>
<p>The OTP you entered is invalid. Please try again or request a new OTP.</p>
<%= link_to "Request New OTP", verify_otp_visitor_path(@visitor) %>
