<h1>Fitout Subcategory Details</h1>
<p><strong>Category Name:</strong> <%= @fitout_subcategory.helpdesk_category_name %></p>
<p><strong>Name:</strong> <%= @fitout_subcategory.name %></p>
<%= link_to 'Back', fitout_subcategories_path %>
