<h1>Editing Permit Activity Setup</h1>

<%= render 'form', permit_activity_setup: @permit_activity_setup %>

<%= link_to 'Show', @permit_activity_setup %> |
<%= link_to 'Back', permit_activity_setups_path %>
