<h1>Editing Gdn Inventory Detail</h1>

<%= render 'form', gdn_inventory_detail: @gdn_inventory_detail %>

<%= link_to 'Show', @gdn_inventory_detail %> |
<%= link_to 'Back', gdn_inventory_details_path %>
