<div class="row">
        <div class="col-md-12">
        <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="box box-info">
              <%= form_tag "", :role=>"form" do %>
              <div class="box-body">
                
                
                <div class="form-group col-sm-12">
                  <label>Status</label>
                  <select class="form-control">
                    <option selected="">Select Status</option>
                    <option>Approved</option>
                    <option>Pending</option>
                     <option>Confirmed</option>
                      <option>Rejected</option>
                      <option>Booking Completed</option>
                      <option>Cancelled</option>
                  </select>
                </div>
                
                <div class="form-group col-sm-6">
                   <label>From</label>
                  <div class="input-group date">
                    <div class="input-group-addon"> <i class="fa fa-calendar"></i> </div>
                    <input class="form-control pull-right datepicker" placeholder="Select Date" type="text">
                  </div>
                </div>
                
                <div class="form-group col-sm-6">
                   <label>To</label>
                  <div class="input-group date">
                    <div class="input-group-addon"> <i class="fa fa-calendar"></i> </div>
                    <input class="form-control pull-right datepicker" placeholder="Select Date" type="text">
                  </div>
                </div>
                
                
                
              </div>
              <div class="box-footer text-center">
                <button type="submit" class="btn btn-info"><i class="fa fa-download margin-r-5" aria-hidden="true"></i> Download</button>
              </div>
              <% end %>
            </div>
          </div>
          
          
           <div class="col-md-2"></div>
          
        </div>
      </div>