<h1>Editing Amenity Booking Rule</h1>

<%= render 'form', amenity_booking_rule: @amenity_booking_rule %>

<%= link_to 'Show', @amenity_booking_rule %> |
<%= link_to 'Back', amenity_booking_rules_path %>
