<h1>Editing Parking Configuration</h1>

<%= render 'form', parking_configuration: @parking_configuration %>

<%= link_to 'Show', @parking_configuration %> |
<%= link_to 'Back', parking_configurations_path %>
