<h1>Editing Compliance Tracker Tag</h1>

<%= render 'form', compliance_tracker_tag: @compliance_tracker_tag %>

<%= link_to 'Show', @compliance_tracker_tag %> |
<%= link_to 'Back', compliance_tracker_tags_path %>
