<!DOCTYPE html>
<html>
  <head>
    <title>PDF</title>
    <meta charset="UTF-8">
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { margin: 0; padding: 0; }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>